/*Pour toute les page*/
a{
    text-decoration: none;
}
/*Page accueil*/
.accueil{
    background-image: url(../images/image-degrade-beige.jpg);
    background-size: cover;
}
.accueil header{
    text-align: center;
    border-bottom: 2px solid black;
}
.accueil .menu{

}
.accueil .item_menu img{
    height: 260px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px;
    transition: 3ms;
}
.accueil .item_menu:hover{
    transform: scale(1.05);
}
.accueil footer{
    
}
.accueil h1{
    font-size: 50px;
}
.accueil .item_menu, .item_reservation, .item_avis{
    list-style: none;
    margin: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}