/*Pour toute les page*/
a{
    text-decoration: none;
}
/*Page accueil*/
body{
    background-image: url(../images/image-degrade-beige.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.accueil header{
    border-bottom: 2px solid black;
}
.accueil .logo{
    height: 230px;
    display: flex;
    justify-content: left;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    text-shadow: 0.02em 0.02em 0.2em #000000;
}
.accueil .item img{
    height: 360px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
    transition: 0.3s; 
}
.accueil .item img:hover{
    transform: scale(1.05);
    
}
.accueil article{
    text-align: center;
}
.accueil h1{
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
    color: #000000;
}
.accueil .item{
    list-style: none;
    margin: 5px;
    padding: 2px;
    display: inline-block;
    justify-content: space-between;
    gap: 20rem;
}
footer{
    text-shadow: 0.1em 0.1em 0.2em black;
    margin-top: auto;
}


/*Page Menu*/
.menu .logo{
    height: 230px;
    display: flex;
    justify-content: left;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    text-shadow: 0.02em 0.02em 0.2em #000000;
}
.menu h1{
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
}
.menu header{
    border-bottom: 2px solid black;
}
.menu .item{
    list-style: none;
    margin: 5px;
    padding: 2px;
    display: inline-block;
    justify-content: space-between;
    gap: 20rem;
}
.menu .p{
    font-size: 19px;
    font-family: 'Great Vibes', cursive;
}
.menu .item img{
    height: 360px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
    transition: 0.3s; 
}
.menu .menu{
    list-style: none;
    margin: 5px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}


/*Page avis*/

.avis header{
    border-bottom: 2px solid black;
}
.avis .logo{
    height: 230px;
    display: flex;
    justify-content: left;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    text-shadow: 0.02em 0.02em 0.2em #000000;
}
.avis h1{
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
    color: #000000;
}


/*              burger                   */





.accueil .menu-btn {
  position: fixed;   /* le fixe sur la page pour qu'il ne soit jamais caché */
  top: 20px;         /* décale depuis le haut */
  right: 30px;       /* décale depuis la droite */
  z-index: 500;      /* très au-dessus de tout (menu + overlay) */
}

/* Burger */
.menu-btn {
  display: block; /* toujours visible */
  width: 35px;
  height: 30px;
  cursor: pointer;
  position: relative;
  margin: 20px;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.menu-btn__burger::before {
  top: 12px;
}

.menu-btn__burger::after {
  top: -12px;
}

/* Animation burger -> croix */
.menu-btn.open .menu-btn__burger {
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
  top: 0;
  background-color: rgb(255, 0, 0);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
  top: 0;
  background-color: #111;
}
.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}
/*Overlay */
.nav-links {
  position: fixed;
  height: 250px;
  width: 85vw;
  background-color: #222;
  top: -40px;     
  border-radius: 0 0 20px 20px;
  gap: 8rem;
  /*transform: translateY(-100%);  
  transition: transform 0.3s;*/
  z-index: 300;
}

.nav-links.show {
  transform: translateX(0);
  left: 10rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 200;         /* en dessous du menu et du burger */
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}
