/*Pour toute les page*/
*{
  margin: 0;
}
a{
  text-decoration: none;
}
pre{
  display: flex;
  justify-content: center;
}
body{
  background-image: url(../images/image-degrade-beige.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1{
  display: flex;
  justify-content: center;
  flex: 1;
  text-align: center;
  color: #000000;
  align-items: center;
}

footer{
  margin-top: auto;
  text-align: center;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-top: 2px solid black;
}
footer strong{
  color: darkgoldenrod;
}

ul{
  list-style: none;
}
.vide{
  display: flex;
  height: 230px;
  width: 230.45px;
}


/*Page accueil*/
.accueil h1{
  color: #ffffff;
  font-family: EuclidFlex2-regular, sans-serif;
}

.accueil header{
  border-bottom: 2px solid black;
  background-image: url(../images/restauIn.png);
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.menu-principal{
  align-items: center;
  height: 90px;
  display: flex;
  justify-content: space-between;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  text-shadow: 0.02em 0.02em 0.2em #000000;
}

.menu-principal:hover{
  transition: 0.5s;
  background-color: #000000;
}

.accueil .item img{
  height: 360px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px black;
  transition: 0.3s; 
}
.accueil .item img:hover{
  transform: scale(1.05);
}
.accueil article{
  text-align: center;
}

.accueil .item{
  list-style: none;
  margin: 5px;
  padding: 2px;
  display: inline-block;
  justify-content: space-between;
  gap: 20rem;
}


/*Page Menu*/
.logo{
  height: 230px;
  display: flex;
  justify-content: left;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  text-shadow: 0.02em 0.02em 0.2em #636363;
}
.menu h1{
  display: flex;
  justify-content: center;
  flex: 1;
  text-align: center;
}
header{
  border-bottom: 2px solid black;
}
.item{
  list-style: none;
  margin: 5px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  gap: 20rem;
}
.menu .p{
  display: flex;
  gap: 10rem;
  margin: 40px;
}
.menu .p p{
  color: #7C7c7c;
  font: 19px Arial, sans-serif;
  margin: 0px 0px 10px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 20px;
  border-left: 6px solid #6e4d4d;
  box-shadow: 7px 7px 7px grey;
}
.menu p:hover{
  transition: 1s;
  transform: scale(1.05);
  background-color: #e4e4e4;
  color: #000000;
}
.menu .item img{
  height: 360px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px black;
  transition: 0.3s; 
  flex-wrap: wrap;
}
.menu .item img:hover{
  transition: 1s;
  transform: scale(1.05);
}
.menu .menu{
  list-style: none;
  margin: 5px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/*Page avis*/
.avis header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avis main{
  display: flex;
  justify-content: space-around;
}

.avis article{
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
.avis h1{
  display: flex;
  justify-content: end;
}
.avis h2{
  background-color: white;
  border-left: 5px solid darkgoldenrod;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
}
.avis p{
  background-color: white;
  border-left: 5px solid darkgoldenrod;
  margin-top: 10px;
  border-radius: 15px;
  padding: 15px;
}
.avis .sous-titre{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.avis .paragraphe{
  display: flex;
  flex-direction: column;
}
.avis strong{
  color: darkgoldenrod;
}
.avis .logo{
  max-width: 230px;
  display: flex;
  margin-right: auto;
}

/*page contact*/

.contact .chef{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.contact .support{
  background-color: white;
  border-left: 5px solid darkgoldenrod;
  margin-top: 10px;
  border-radius: 15px;
  padding: 15px;
}
.contact .gabriel{
  background-color: white;
  border-left: 5px solid darkgoldenrod;
  margin-top: 10px;
  border-radius: 15px;
  padding: 15px;
}
.contact .yohan{
  background-color: white;
  border-left: 5px solid darkgoldenrod;
  margin-top: 10px;
  border-radius: 15px;
  padding: 15px;
}
.contact .support2{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact .imgGabrielYohan{
  height: 500px;
}

/*reservation*/

.month {
  padding: 70px 25px;
  width: 100%;
  background: #000000;
  text-align: center;
  margin-top: 20px;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ffffff;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #665;
  text-align: center;
}
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}
.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}
.days li:hover{
  background-color: #000000;
  color: white;
}
.days li .active {
  padding: 5px;
  color: white 
}

/*Place*/

.place img{
  width: 500px;
  text-align: center;
}
.place .img2{
  
}
.place p{
  background-color: white;
  border-left: 5px solid darkgoldenrod;
  margin-top: 10px;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
/*page service*/

.service main{
  display: flex;
  flex-direction: column;
}
.service .reglement2{
  display: flex;
  justify-content: center;
}
.service .logo{
  display: flex;
  justify-content: space-between;
}
.service .reglement{
  gap: 20px;
  background-color: #ffffff;
  padding: 4px;
  margin: 20px;
  border-radius: 15px;
  border-left: 5px solid darkgoldenrod;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 10px;
  max-width: fit-content;
}
.service .bienManger{
  background-color: #ffffff;
  padding: 4px;
  margin: 20px;
  border-radius: 15px;
  border-left: 5px solid darkgoldenrod;
  box-shadow: 2px 4px 10px;
  max-width: fit-content;
  font-size: 35px;
}
.bienManger2{
  display: flex;
  justify-content: center;
}
.imgBienManger{
  height: 900px;
  width: 650px;
}
.imageBienManger{
  display: flex;
  justify-content: center;
}


/*Les pages entree, plat, dessert et vin*/

.pageMenu main{
  display: flex;
  justify-content: space-around;
}
.pageMenu article{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-color: white;
  border-left: 5px solid darkgoldenrod;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pageMenu h2{
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
}
.pageMenu p{
  border-left: 4px solid rgb(88, 88, 151);
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
}
.pageMenu .sous-titre{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.pageMenu .paragraphe{
  display: flex;
  flex-direction: column;
}



/*               burger                   */

/* ----- POSITION DU BOUTON BURGER ----- */
.menu-btn {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 500;
}
/* ----- BOUTON BURGER ----- */
.menu-btn {
  display: block;
  width: 35px;
  height: 30px;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.menu-btn__burger::before {
  top: 12px;
}

.menu-btn__burger::after {
  top: -12px;
}

/* ----- ANIMATION BURGER → CROIX ----- */
.menu-btn.open .menu-btn__burger {
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
  top: 0;
  background-color: #ffffff;
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
  top: 0;
  background-color: #ffffff;
}

/* ----- LIENS DU MENU ----- */
.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  .troll{
  display: flex;
  justify-content: center;
  align-items: center;
}
}

/* ----- MENU LATÉRAL (fermé par défaut) ----- */
.nav-links {
  position: fixed;
  top: 60px;
  right: 0;
  height: 85vh;
  width: 250px;
  background-color: #222;
  border-radius: 20px 0 0 20px;
  transform: translateX(100%);  /* caché par défaut */
  transition: transform 0.3s ease;
  padding: 20px;
  z-index: 300;
}

/* ----- MENU OUVERT ----- */
.nav-links.show {
  transform: translateX(0);
}

/* ----- OVERLAY FOND NOIR ----- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 200;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/*troll*/
.troll *{
  margin: 0;
  padding: 0;
}
.troll{
  display: flex;
  justify-content: center;
  align-items: center;
}