/*Pour toute les page*/
a{
    text-decoration: none;
}
/*Page accueil*/
.accueil{
    background-image: url(../images/image-degrade-beige.jpg);
    background-size: cover;
}
.accueil header{
    text-align: center;
    border-bottom: 2px solid black;
}
.accueil .logo{
    height: ;
}
.accueil .menu{

}
.accueil .item img{
    height: 360px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
    transition: 3ms; 

}
.accueil .item img:hover{
    transform: scale(1.05);
}
.accueil footer{
    
}
.accueil article{
    text-align: center;
}
.accueil h1{
    font-family: ru;
    font-size: 100px;
    text-shadow: 0.1em 0.1em 0.2em #000000;
}
.accueil .item{
    list-style: none;
    margin: 5px;
    padding: 2px;
    display: inline-block;
    justify-content: space-between;
    gap: 20rem;
}
.accueil footer p{
    text-shadow: 0.1em 0.1em 0.2em black;
}